/* портфолио. Наши проекты */
.projects-container {
  padding-top: 94px;
  border-top: 1px solid #ececec;
}
.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
}
.btn {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--btn-color);
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: 1px solid transparent;
}
.buttons li:not(:last-child) {
  margin-right: 8px;
}
.btn:hover,
.btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.projects .card {
  width: 370px;
  margin: 15px;
  /* flex-basis: calc(100% / 3-15px); */
}
.project-info {
  border-right: 1px solid var(--porfolio-card-color);
  border-bottom: 1px solid var(--porfolio-card-color);
  border-left: 1px solid var(--porfolio-card-color);
}
.card .link {
  display: block;
  width: 100%;
  position: relative;
}
.card-box {
  display: block;
  position: relative;
}
.card-box::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.card-box:hover::before {
  opacity: 1;
  z-index: 2;
}
.description-text {
  display: inline-block;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;

  color: var(--primary-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.description-text:hover {
  opacity: 1;
  z-index: 1;
}

/* margin-right: 30px; */

/* margin-bottom: 30px; */
/* .projects .item:nth-child(3n) {
  margin-right: 0;
}
.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.title {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text {
  margin-left: 24px;
  padding-bottom: 20px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
section {
  padding-bottom: 94px;
}
.card .link:hover,
.card .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
